* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

:root {
  --font-family: "Red Hat Display", sans-serif;
  --blue-pale: hsl(225, 100%, 94%);
  --blue-bright: hsl(245, 75%, 52%);
  --blue-bright-hovered: hsl(245, 83%, 68%);

  --blue-very-pale: hsl(225, 100%, 98%);
  --blue-desaturated: hsl(224, 23%, 55%);
  --blue-dark: hsl(223, 47%, 23%);

  font-size: 16px;
  font-family: var(--font-family);
}

body {
  min-height: 100vh;
  background-color: var(--blue-pale);
  background-image: url(images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  font-size: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blue-dark);
  font-weight: 900;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.card {
  width: calc(332px + (480 - 320) * ((100vw - 375px) / (1440 - 375)));
  border-radius: 1rem;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 1rem 3rem 0 hsla(245, 75%, 52%, 0.15);
  margin: 0 12px;
  text-align: center;
  color: var(--blue-desaturated);
}

.card__heading {
  font-size: calc(22px + (30 - 22) * ((100vw - 375px) / (1440 - 375)));
}

.card__body {
  /*  calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  padding-top: calc(32px + (48 - 28) * ((100vw - 375px) / (1440 - 375)));
  padding-bottom: calc(32px + (48 - 28) * ((100vw - 375px) / (1440 - 375)));
  padding-left: calc(22px + (60 - 22) * ((100vw - 375px) / (1440 - 375)));
  padding-right: calc(22px + (60 - 22) * ((100vw - 375px) / (1440 - 375)));

  display: flex;
  flex-direction: column;
  gap: calc(22px + (36 - 22) * ((100vw - 375px) / (1440 - 375)));
}

.card__message {
  padding-left: calc(10px + (28 - 10) * ((100vw - 375px) / (1440 - 375)));
  padding-right: calc(10px + (28 - 10) * ((100vw - 375px) / (1440 - 375)));
}

.card__items-summary {
  background-color: var(--blue-very-pale);
  border-radius: 0.5rem;
  padding: 1rem;
  padding: calc(14px + (28 - 14) * ((100vw - 375px) / (1440 - 375)));

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__item {
  display: flex;
  align-items: center;
  gap: calc(16px + (28 - 16) * ((100vw - 375px) / (1440 - 375)));
}

.card__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__item-change {
  font-size: 1rem;
  font-weight: 700;
  color: var(--blue-bright);
}

.card__item-change:hover {
  color: var(--blue-bright-hovered);
  text-decoration: none;
}

.card__btn {
  display: block;
  font-weight: 700;
  text-decoration: none;
}

.card__btn.btn-primary {
  border-radius: 0.5rem;
  background-color: var(--blue-bright);
  box-shadow: 0 1rem 2rem 0 hsla(245, 75%, 52%, 0.3);
  padding: 1rem;
  color: white;
}

.card__btn.btn-primary:hover {
  background-color: var(--blue-bright-hovered);
}

.card__btn.btn-secondary {
  color: var(--blue-desaturated);
}

.card__btn.btn-secondary:hover {
  color: var(--blue-dark);
}

@media (min-width: 992px) {
  body {
    background-image: url(images/pattern-background-desktop.svg);
  }
}
